html, body {
    height: 100%;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a3a3a+0,8c8c8c+49,3a3a3a+100 */
    background: rgb(58, 58, 58); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(58, 58, 58, 1) 0%, rgb(125, 125, 125) 49%, rgba(58, 58, 58, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(58, 58, 58, 1) 0%, rgb(125, 125, 125) 49%, rgba(58, 58, 58, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(58, 58, 58, 1) 0%, rgb(125, 125, 125) 49%, rgba(58, 58, 58, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3a3a', endColorstr='#3a3a3a', GradientType=1); /* IE6-9 */
}

.height100 {
    height: 100%;
}

.mappingSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mappingSelector_item {
    align-self: center;
    margin: 0 10px;
}

.pageContent {
    height: 100%;
}

.mappingSelector_item a {
    padding: 15px 25px;
    background-color: #f4f4f4;
    border-radius: 4px;
    font-size: 18px;
    color: rgba(58, 58, 58, 1);
}

.mappingSelector_item a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.mappingContent_title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
}

.mappingContent {
    padding: 25px;
    position: relative
}

.mappingContent_list h3 {
    padding: 15px 25px;
    background-color: #e6e6e6;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: rgba(58, 58, 58, 1);
    text-align: center;
    margin-bottom: 0;
}

.mappingContent_list ul {
    max-height: 350px;
    padding: 0;
    list-style-type: none;
    background-color: #ffffff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow-y: auto;
    margin-bottom: 0;
}

.mappingContent_list ul li {
    padding: 10px 25px;
    cursor: pointer;
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
    border-bottom: 1px solid rgba(58, 58, 58, 0.2);
    background-color: white;
    width: 100%;
}

.mappingContent_list ul li:last-child {
    border-bottom: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.mappingContent_listBlock {
    width: 50%;
    float: left;
}

.mapList:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.mappingContent_listBlock.mappingContent_listBlock--withBorder {
    border-right: 1px solid rgb(206, 206, 206);
}

.mappingContent_listBlock {
    height: 350px;
    background: #fff;
}

.destinationHint {
    padding: 10px 25px;
    cursor: pointer;
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
    background-color: white;
    width: 100%;
}

.mappingBtn {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(58, 58, 58, 1);
    border-radius: 0;
    text-align: left;
    padding: 10px 25px;
}

.mappingBtn:hover, .mappingBtn:focus {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(58, 58, 58, 1);
}

.mappingContent_list {
    float: left;
    width: 100%;
}

.mappingAction {
    margin-top: 15px;
    float: left;
    width: 100%;
    text-align: center;
}

.homeBtn {
    position: absolute;
    top: 15px;
    left: 15px;
}

.nestedMappingList li i {
    float: right;
    color: #e60000;
}

.dragList_content {
    height: 350px;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginForm_content {
    align-self: center;
    margin: 0 10px;
    width: 33.333333333%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.loginForm_Title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.loginForm_input {
    background-color: rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(204, 204, 204, 0.45);
    color: #fff;
}

.loginForm_input:focus {
    border-color: rgba(204, 204, 204, 1);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(252, 250, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(252, 250, 255, 0.6);
}

.notificationMessage {
    padding: 25px;
    min-width: 200px;
    text-align: center;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 4px;
    border: 2px solid #d6e9c6;;
    z-index: 10000;
}

.notificationMessage_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.notificationMessage_close.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 2px solid #d6e9c6;;
}

.notificationMessage_close.error {
    background-color: #ffd3d2;
    border: 2px solid #ffd3d2;;
    color: #a94442;
}

.notificationMessage_close:hover, .notificationMessage_close:focus {
    color: #ad0000;
    position: absolute;
    top: 10px;
    right: 10px;
}

.notificationMessage.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 2px solid #d6e9c6;;
}

.notificationMessage.error {
    background-color: #f2dede;
    color: #a94442;
    border: 2px solid #ebccd1;;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main {
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

    .main {
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }

    nav.sidebar {
        border-radius: 0;
        background-color: #00000040;
        border: none;
    }

    nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a {
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e536 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    nav.sidebar {
        width: 300px;
        height: 100%;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
    }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover {
        margin-left: 0px;
    }

    .forAnimate {
        opacity: 0;
    }
}

@media (min-width: 1330px) {

    .main {
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar {
        margin-left: 0px;
        float: left;
    }

    nav.sidebar .forAnimate {
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent;
}

.mainContent {
    width: calc(100% - 300px);
    float: left;
    height: 100%;
}

.navbarSubMenu {
    list-style-type: none;
}

.navbarSubMenu li {
    margin: 5px 0;

}

.navbarSubMenu li a {
    color: #e6e6e6;
    display: block;
}

.navbarSubMenu li a:hover {
    opacity: 0.6;
    text-decoration: none;
}


.customForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.customForm_content {
    align-self: center;
    margin: 0 10px;
    width: 50%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.customForm_Title {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.customForm_input {
    background-color: rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(204, 204, 204, 0.45);
    color: #fff;
}

.customForm_input:focus {
    border-color: rgba(204, 204, 204, 1);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(252, 250, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(252, 250, 255, 0.6);
}
.customForm label {
    color: white;
}
.inputFile {
    position: relative;
}
.inputFile input[type=file]{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    height: 100%;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    opacity: 0.7;
}
.reloadBtn {
    position: absolute;
    top: 10px;
    right: 40px;
}