<div class="customForm" >
    <div class="customForm_content" ng-controller="configurationController">
        <h2 class="customForm_Title">Company Setting</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">XML URL</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="XML URL" 
                    ng-model="configurationForm.xmlPath">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-default btn-block" ng-click="updateXmlPath()">Update</button>
                </div>
            </div>
            <div class="form-group">

                <label class="col-sm-3 control-label">File Path</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control inputXml" placeholder="File Path" ng-model="fileInput">
                </div>
                
                <div class="col-sm-3 inputFile">
                    <button class="btn btn-default btn-block">Browse</button>
                    <input type="file" accept="text/xml" class="xmlPath" id="importFile" ng-model="fileInputPath"  onchange="angular.element(this).scope().uploadXmlFile()">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-default" ng-click="submit()">Submit</button>
                </div>
            </div>
        </form>
	    <div class="alert notificationMessage" ng-show="statusMessage.code != 0" ng-class="{success: statusMessage.code == '200', error: statusMessage.code == '250'}">
	        <a class="notificationMessage_close close" ng-click="statusClose()"><i class="fa fa-times"></i></a>
	        <span class="notificationMessage_content">{{statusMessage.message}}</span>
	    </div>
    </div>
</div>