<div class="customForm" >
    <div class="customForm_content">
        <h2 class="customForm_Title">Company Setting</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Company Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Company Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Image Path</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Image Path">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">XML Path</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="XML Path">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Schedule Run Time</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Schedule Run Time">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-default btn-block">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>