<div class="height100" ui-view="">
    <div class="row height100">
        <div class="loginForm" ng-controller="loginController">
            <div class="loginForm_content">
                <h2 class="loginForm_Title">Login</h2>
                <form>
                    <div class="form-group">
                        <input class="form-control input-lg loginForm_input" placeholder="Username" type="text" ng-model="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg loginForm_input" placeholder="Password" type="password" ng-model="password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default btn-lg btn-block" ng-click="submitForm()">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="alert notificationMessage" ng-show="statusMessage.code != 0" ng-class="{success: statusMessage.code == '200', error: statusMessage.code == '250'}">
                <a class="notificationMessage_close close" ng-click="statusClose()"><i class="fa fa-times"></i></a>
                <span class="notificationMessage_content">{{statusMessage.message}}</span>
            </div>
        </div>
    </div>
</div>
