<div class="height100" ui-view="">
    <div class="mappingSelector">
        <div class="mappingSelector_item">
            <a ui-sref=".category">Category</a>
        </div>
        <div class="mappingSelector_item">
            <a ui-sref=".color">Color</a>
        </div>
        <div class="mappingSelector_item">
            <a ui-sref=".size">Size</a>
        </div>
        <div class="mappingSelector_item">
            <a ui-sref=".product">Product</a>
        </div>
    </div>
</div>

